extends layout

block content
  h1.mt-3.text-center Galeria
  hr
  each photo in photos 
    h3= photo.title
    img(src=photo.image width='300')
  hr
  form.mt-3(action='/gallery' enctype='multipart/form-data' method='post')
    div.form-group
      label Titulo
      input.form-control(name='title')
    div.form-group
      label Elija un archivo
      input.form-control-file(type='file' name='image')
    input(type='submit' value='Subir foto')    
        
