extends layout

block content
  h1.my-3.text-center Galeria
  div.row      
    each photo in photos  
      div.col-sm-4
        div.card.mx-3.my-3
          img.card-img-top(src=photo.image alt=photo.title) 
          div.card-body
            h5.card-title= photo.title
  hr
  h3.my-2 Subir foto  
  form.mt-3(action='/gallery' enctype='multipart/form-data' method='post')
    div.form-group
      label Titulo
      input.form-control(name='title')
    div.form-group
      label Elegir archivo
      input.form-control-file(type='file' name='image')
      small.form-text.text-muted Elija un archivo (jpg o png, máximo 2 MB)  
    input.btn.btn-primary(type='submit' value='Subir foto')  
